<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_DBJogodaVelha_Connection" connectionString="XpoProvider=MSSqlServer;data source=SQO-101\SQLSERVER2019;user id=sa;password=sequor;initial catalog=DBJogodaVelha;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>